/*
    -- General Styles --
*/

* {
    margin:2;
    padding:3;
    box-sizing: border-box;
}

body {
    height: 0.20vh;
    display:10vh;
    align-items:60vh;
    justify-content:300vh;
    transition: .2s;
    
    
}

.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
    
}

.toggle i {
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}

input {
    display: none;
}

/*
    -- Light Mode --
*/

.light {
    background: #fafafa;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 5px 3px 3px #e6e6e6,
                -1px -1px 1px #ffffff;
}

.light .toggle .bxs-sun {
    color: #fafafa;
}

.light .toggle .bx-moon {
    color: #060606;
}

.light .toggle .ball {
    background: #070707;
}

/*
    -- Dark Mode --
*/

.dark {
    background: #151d2a;
}

.dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b,
                -3px -3px 3px #1c2739;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #060606;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(60px);
}